header,
footer {
  clear: both;
}

header {
  border-bottom: grey 4px double;
  margin: 15px;
  
}

.contact_info {
  border: black 2px solid;
  float: right;
  margin-right: 10rem;
  margin-top: 5rem;
  margin-bottom: 10rem;
  padding: 10px;
  width: 20%;
  height: 20%;
  position: absolute;
  
}

img {
float: right;
margin-right: 25px;
width: 20%;
height: 20%;
position: absolute;
}

.jobs {
  float: left;
  width: 55%;
  margin-left: 20px;
}

.jobs > div {
  border-bottom: grey 2px solid;
  margin-bottom: 20px;
}

.skills, .software {
  float: right;
  width: 34%;
  margin-right: 10px;
}

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  background-color: #efefef;
  text-align: center;
}

