body {
  background: url("https://raw.githubusercontent.com/alarsn/FCC_projects/master/portfolio/mylene-2034950_1920.png");
}
/*Header & footer*/
.header {
  margin-top: 10px;
}

footer {
  height: 100px;
  margin-top: 150px;
  padding-top: 25px;
  width: 100%;
  
}

/*Body elements*/
p {
  border: solid 2px black;
}

#projects {
  height: 100%;
  width: 100%;
  border: solid 2px black;
}

form {
    float: left
}

.thumbnail {
  height:300px;
}

.fa {
  margin-left: 15px;
}
