body {
  background:url("https://i.ytimg.com/vi/xKpzKglwxLg/maxresdefault.jpg");
  background-position: center;
  background-attachment: auto;
  background-repeat: no-repeat;
}

p {
	font-family: 'Great Vibes', cursive;
	font-size: 100px;
	color: red;
	text-align: center;
}

.no {
  border: Gold 3px solid;
    padding:5px 100px;  
  margin-top:35px;
  margin-right:250px;
  width:102px;
  height:34px;
  float: right;

}

.yes {
  border: Gold 3px solid;
  padding:5px 100px;
  margin-top:35px;
  margin-left:150px;
  width:102px;
  height:34px;
  border: Gold 3px solid;
  float: left;
}
