
  body {
  margin: 0 auto;
  font-family: "Lato", sans-serif, Arial;
  line-height: 1.5;
}

/*
---------------------------------------------------------------
---------------------------------------------------------------
HEADER
---------------------------------------------------------------
---------------------------------------------------------------
*/
.header {
    color: #333;
}

img {
  border: black solid 1px;
  border-radius: 100%;
  margin: 15px 0 15px 100px;
}

/*
---------------------------------------------------------------
---------------------------------------------------------------
SIDEBAR
---------------------------------------------------------------
---------------------------------------------------------------
*/
#sidebar {
  border-right: solid black 1px;
  -webkit-box-shadow: 5px 0 5px -2px #888;
          box-shadow: 5px 0 5px -2px #888;
}


#sidebar p{
  display: inline;
  font-size: 16px;
}


/*
---------------------------------------------------------------
---------------------------------------------------------------
SUMMARY
---------------------------------------------------------------
---------------------------------------------------------------
*/
#summary {
  text-align: center;
  font-weight: bold;

}

#summary,p {
  font-size: 18px;
}

#skills,li {
  list-style-type: none;
}
/*
---------------------------------------------------------------
---------------------------------------------------------------
MAIN
---------------------------------------------------------------
---------------------------------------------------------------
*/

/*
---------------------------------------------------------------
---------------------------------------------------------------
FOOTER
---------------------------------------------------------------
---------------------------------------------------------------
*/