/*body*/
Body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/58/Buddhist_prayer_flags.jpg")
}

/*Header*/
.header {
    text-shadow: 2px 2px gold;
    float: left;
    margin-left: 50px;
    padding-top: 125px;
    font-size: 65px;
    font-family: 'Lobster', sans-serif, serif;
}

.link {
    color: gold;
}
    
img {
    margin-top: 25px;
    margin-right: 100px;
    float: right;
    border: 4px solid yellow;
    border-radius: 100%;
   
}

/*Main summary*/
#mainsummary {
    font-size: 20px;
    margin-left: 250px;
    font-family: sans-serif, serif
  
}

/*Main timeline*/


#timeline {
    margin-top: 200px;
    margin-left: 175px;
    font-size: 18px;
    text-align: center;
}

.dates {
  font-weight: 900;
}

    li {
      color: black;
    }

li {
  line-height:2em;
  list-style-type:none;
}
